<br>
<div ng-controller="details">
<br><br>
<center>
<div style="border:solid 2px;width:70%;height:750px;padding-left:10px;">
<table style="border:solid 2px;height:400px;">
<tr style="border:solid 2px;">
	<td style="border:solid 2px;">Name:</td><td>{{username}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px;">Address:</td><td>{{address}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px;">Phone NO:</td><td>{{phone}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px;">PAN No:</td><td>{{pan}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px;">Aadhar No:</td><td>{{aadhar}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px;">EmailId:</td><td>{{email}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px;">Change Profile Picture</td><td></td></tr><br>
</tr>
</table>
<a ui-sref="home">Back</a>
</center>
</div>
</div>
