<div ng-controller="details">
<center>
<div style="border:solid 2px;width:70%;height:750px;padding-left:10px;">
<table style="border:solid 2px;height:400px;">
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;">Name:</td><td style="border:solid 2px; height:60px;width:170px;">{{user}}</td></tr><br>
	<td style="border:solid 2px; height:60px;width:170px;">Password:</td><td style="border:solid 2px; height:60px;width:170px;">{{password}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;">Address:</td><td style="border:solid 2px; height:60px;width:170px;">{{address}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;">Phone NO:</td><td style="border:solid 2px; height:60px;width:170px;">{{phone}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;">PAN No:</td><td style="border:solid 2px; height:60px;width:170px;">{{pan}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;">Aadhar No:</td><td style="border:solid 2px; height:60px;width:170px;">{{aadhar}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;">EmailId:</td><td style="border:solid 2px; height:60px;width:170px;">{{email}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;">Change Profile Picture</td><td></td style="border:solid 2px; height:60px;width:170px;"></tr><br>
</tr>
</table>
<a ui-sref="home">Back</a>
</center>
</div>
</div>
