<div ng-controller="details">
<center>
<div style="border:solid 2px;width:70%;height:750px;padding-left:10px;">
<table style="border:solid 2px;height:400px;">
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">Name:</td>
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">{{user}}</td></tr><br>
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">Password:</td>
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">{{password}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">Address:</td>
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">{{address}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">Phone NO:</td>
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">{{phone}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">PAN No:</td>
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">{{pan}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">Aadhar No:</td>
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">{{aadhar}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">EmailId:</td>
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">{{email}}</td></tr><br>
<tr style="border:solid 2px;">
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4">Change Profile Picture</td>
	<td style="border:solid 2px; height:60px;width:170px;" class="col-sm-4"></td>
</tr><br>
</tr>
</table>
<a ui-sref="home">Back</a>
</center>
</div>
</div>
