<br>
<div ng-controller="details">
<br><br>
<div style="border:solid 2px;height:560px;width:150px;float:left;">
		<button style="border:solid 2px;height:60px;width:80px;background-color:red;"><p>Transfer Money</p></button><br><br>
		<button style="border:solid 2px;height:60px;width:80px;background-color:red;"><p>Transcation History</p></button><br><br>
		<button style="border:solid 2px;height:30px;width:80px;background-color:red;">
			<p>Balance</p></button>
		<br><br>
		<button style="border:solid 2px;height:60px;width:80px;background-color:red;" ng-click="details()">
			<p>Personal details</p></button>
</div>
</div>